<header class="header py-3 ">
  <div class="d-flex gap-2">
    <button (click)="toggleSidebar()" class="menu-btn "> <span></span>
      <span></span>
      <span></span></button>

    <div class="search-box">
      <input type="text" placeholder="Search">
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
  </div>
  <div class="button-group">
    <button class="bell-btn">
      <i class="fa-solid fa-bell"></i>
      <span class="wave"></span>
    </button>
    <button data-bs-toggle="offcanvas" data-bs-target="#quickactions" aria-controls="quickactions"> <i class="fa-solid fa-radiation " > </i></button>
    <button class="display-none-style" data-bs-toggle="offcanvas" data-bs-target="#setting" aria-controls="setting"><i class="fa-solid fa-file" ></i></button>
    <button  class="display-none-style" (click)="themeService.toggleLightTheme()"><img [src]="isDarkMode ? '../../../../assets/moon.svg' : '../../../../assets/sun.svg'" alt=""  [style.filter]="isDarkMode ? 'invert(62%) sepia(84%) saturate(513%) hue-rotate(248deg) brightness(95%) contrast(90%)' : 'invert(0%) sepia(0%) saturate(100%) hue-rotate(0deg) brightness(100%) contrast(100%)'"></button>
    <button class="display-none-style"><i class="fa-solid fa-comment-dots"></i></button>
    <button><i class="fa-solid fa-earth-americas"></i></button>
    <button class="display-none-style"><i class="fa-solid fa-expand"></i></button>
  </div>
</header>

<app-responsive-botstrap-side-nav-bar></app-responsive-botstrap-side-nav-bar>
<app-header-modal></app-header-modal>