input,
select {
    height: 45px;
    border-radius: 6px;
    background-color: var(--second-primary-color);
    color: #b5b5c3;
    border: 1px solid var(--border-color);
    outline: none;
    padding-inline-start: 10px;
    width: 100%;
}

input[type="checkbox"] {
    height: 20px !important;
}

label {
    font-weight: 600;
    margin-bottom: 4px;
    color: var(--gray-color-2);
}


.table-title {
    font-size: 18px;
    color: var(--white-color-1);
}

select {
    cursor: pointer;
}

.submit-btn {

    width: 150px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #05825f;
    outline: none;
    color: white;
    background-color: #05825f;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease;
    /* 👈 smooth animation */
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.acction-btn {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
    gap: 10px;
}