<div class="skills-wrapper col-md-12">

  <!-- ============================= -->
  <!--   LIST VIEW (When showForm = false)  -->
  <!-- ============================= -->
  <ng-container *ngIf="title === 'view'">

    <div class="card-container">

      <!-- Header Row -->
      <div class="header-row">
        <h4 class="main-title">Skills</h4>

        <button class="add-btn" (click)="onNew()">
          <i class="fa fa-plus"></i> Add New
        </button>
      </div>

      <hr class="divider" />

      <!-- Items Per Page + Search -->
      <div class="top-controls d-flex align-items-center">

        <!-- Items Per Page -->
        <div class="items-per-page">
          <label>Items per page:</label>
          <select class="form-select" [(ngModel)]="itemsPerPage"
          (change)="onItemsPerChange($event)"
          >
            <option [ngValue]="5">5</option>
            <option [ngValue]="8">8</option>
            <option [ngValue]="10">10</option>
            <option [ngValue]="20">20</option>
          </select>
        </div>

        <!-- Search -->
        <div class="search-wrapper ms-auto">
          <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchText" 
                       (ngModelChange)="updatePagination()"
/>
          <i class="fa fa-search search-icon"></i>
        </div>
      </div>

      <!-- Skills Table -->
      <div class="skills-list-section">
        <table class="table table-bordered skill-table">
          <thead>
            <tr>
              <th>Skill Code</th>
              <th>Skill Name</th>
              <th class="action-col-header">Actions</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of paginatedSkillsList; let i = index"
              [class.edit-row]="editIndex === currentPageStart + i">
              <td>{{ item.code }}</td>
              <td>{{ item.name }}</td>

              <td class="action-col">
                <i class="fa fa-edit action-icon" (click)="editSkill()"></i>
                <i class="fa fa-trash action-icon" (click)="deleteSkill(currentPageStart + i)"></i>
              </td>
            </tr>
          </tbody>
        </table>

        <!-- Pagination -->
          <app-pagination [currentPage]="currentPage" [totalPages]="totalPages" [totalPagesArray]="totalPagesArray"
          (pageChange)="changePage($event)">
        </app-pagination>

      </div>
    </div>
  </ng-container>



  <!-- ============================= -->
  <!--   FORM VIEW (NEW / EDIT)     -->
  <!-- ============================= -->
    <div class="card-container" *ngIf = 'title === "create" || title === "edit" '>

      <!-- Header Row -->
      <div class="header-row">
        <h4 class="main-title">
          {{ formTitle }}
        </h4>

        <button class="reset-btn" (click)="resetForm()">
          <i class="fa fa-refresh"></i> Reset
        </button>
      </div>

      <hr class="divider" />

      <!-- Form -->
      <div class="form-row row">

        <div class="col-md-6 mb-3">
          <label>Skill Code <span class="text-danger">*</span></label>
          <input type="text" class="form-control" placeholder="Enter Skill Code" [(ngModel)]="skillCode"
            [readonly]="isEdit" />
        </div>

        <div class="col-md-6 mb-3">
          <label>Skill Name <span class="text-danger">*</span></label>
          <input type="text" class="form-control" placeholder="Enter Skill Name" [(ngModel)]="skillName" />
        </div>
        <div class="col-md-6 mb-3">
          <label>Skill Remarks <span class="text-danger">*</span></label>
          <input type="text" class="form-control" placeholder="Enter Skill Remarks" [(ngModel)]="skillRemarks" />
        </div>
        <div class="col-md-6 mb-3">
          <label>Skill Level <span class="text-danger">*</span></label>
          <select name="skillLevel" id="skillLevel" [(ngModel)]="skillLevel" class="form-control">
            <option value="" disabled selected>Select Skill Level</option>
            <option *ngFor="let level of skillLevels" [value]="level">{{ level }}</option>
          </select>
        </div>
        <div class="col-md-6 mb-3 " style="display: flex; align-items: center; gap: 10px;">
          <label for="active">Skill Active <span class="text-danger" >*</span></label>
          <input type="checkbox" class="h-100" placeholder="Enter Skill Active" id="active"  style="width:20px!important"
            [(ngModel)]="skillActive" />
        </div>
      </div>

      <!-- Buttons -->
      <div class="btn-row text-end mt-2">
        <button class="btn btn-danger ms-2" (click)="cancelForm()">
          <i class="fa fa-ban"></i> Cancel
        </button>
        <button class="btn btn-primary" (click)="isEdit ? updateSkill() : createSkill()">
          <i class="fa fa-check-circle"></i>
          {{ isEdit ? "Update" : "Create" }}
        </button>

        
      </div>
    </div>
</div>