

.builder {
  flex: 1;
  overflow: auto;
  .formarea{
    width: 70%!important;
  }
}

.actions {
  padding: 10px;
  text-align: right;
  // border-top: 1px solid #eee;
  // background: #fafafa;

  .save-btn {
    background: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;

    &:hover {
      background: #0056b3;
    }
  }
}



 .first {
        background: transparent;
        outline: none;
        border: 1px solid #7047ee;
        color: var(--gray-color-1);
        border-radius: 4px;
        width: 170px;
        height: 40px;
        margin-bottom: 10px;
        transition: background-color 0.5s ease, color 0.5s ease;
    }

    .first:hover {
        background: #7047ee !important;
        color: white;
    }
