<div class="builder-container">
  <div style="display: flex; justify-content: space-between;">
    <button (click)="addSection()" class="first">Add Section</button>
    <div class="actions">
      <button (click)="onSubmit()" class="save-btn">Save Form</button>
    </div>
  </div>

  <div #builder class="builder"></div>


</div>

<!-- Button trigger modal -->
<button type="button" hidden #formnameModalBtn class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#formnameModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="formnameModal" tabindex="-1" aria-labelledby="formnameModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="formnameModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" click="onSubmit()">Save changes</button>
      </div>
    </div>
  </div>
</div>